<div class="container py-5">
    <br>
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Sneakers</span>
        </a>
      </header>
  
      <div class="p-5 mb-4 bg-light border rounded-3">
        <div class="container-fluid py-5">
           <app-add-sneaker></app-add-sneaker>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <app-all-sneaker></app-all-sneaker>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
           <app-update-sneaker></app-update-sneaker>
          </div>
        </div>
      </div>